.pio/
.vscode/
out/
Obj/
OBJ/
Debug/
Release/
settings/
DebugConfig/
*.htm
*.dep
*.ewt
*.ewd
*.bin
*.out
*.log
*.sct
*.out
*.crf
*.ini
*.map
*.hex
*.bin
*.bak
*.txt
*.lst
*.suo
*.uvgu*
*.uvopt
*.o
~$*
